<!DOCTYPE html>
<html lang="en">
	<head>
		<title>DPS Bangalore South | PE</title>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/sass/main.css" />

	</head>

	<body>

		{% include "header.liquid" %}

          <main
		class="
		{% if page.mainstyle %}
  			{{ page.mainstyle }}
		{% endif %}"
		>
               {{ content }}
          </main>
          
          {% include "footer.liquid" %}
	
	</body>
</html>
