@import "colors"

footer
     background-color: $theme_light
     color: $gray17
     padding: 30px
     font-family: 'IBM Plex Mono'

     border-radius: 16px
     margin: 30px
     border: 1px solid $theme-dark 
     margin-left: auto
     margin-right: auto
     max-width: 800px

     .footer-flex-content
          display: flex
          flex-direction: row
          justify-content: space-between
          max-width: 900px
          margin-left: auto
          margin-right: auto
          a:hover
               background-color: rgba(255, 255, 255, 0.25)
          div
               img
                    max-width: 400px
          
          .links-section
               display: flex
               flex-direction: row

          .links-group
               margin-left: 25px

          .links
               font-size: 16px
               .title
                    font-weight: bold
                    font-style: italic
                    color: $theme_dark
               ul
                    list-style: none
                    padding: 0
                    margin-top: 0
               a
                    color: $gray25
                    text-decoration: none
                    &:hover, &:active
                         color: #000
                         text-decoration: underline
                         font-weight: bold
                         transition: all 0.25s
                    &::after
                         content: "↗"
                         padding-left: 3px
                         position: relative
                         bottom: 1px
                         font-family: 'IBM Plex Mono'

     .endnotes
          border-top: 1px solid $gray25
          padding-top: 10px
          font-size: 12px
          color: $gray25
          font-style: italic
          max-width: 900px
          margin-left: auto
          margin-right: auto
          a
               color: $gray25
          div
               margin-right: auto
               margin-left: auto
               text-align: center


@media (max-width: 750px) 
     .inspirations
          .inspired-by-people
               height: 15.5rem
               .inspired-by-person
                    .inspired-by-image
                         height: 7.5rem
                    span
                         font-size: 1rem
     .footer-flex-content
          display: block !important
          .links-group
               margin-left: 0px !important
               margin-top: 25px
          div
               img
                    max-width: 100% !important