---
layout: main-layout
---

<h1>All miniblog articles</h1>

{% for page in collections.pages %}
     <a class="article-link" href="{{ page.url }}">
          {{page.data.title}}
     </a>
{% endfor %}