---
layout: main-layout
---

<h1>All miniblog articles</h1>


<ul>
{% for page in collections.pages %}
     <li><a class="article-link" href="{{ page.url }}">{{page.data.title}}</a></li>
{% endfor %}
</ul>