---
layout: main-layout
---

{% setPageVar 'mainstyle' %}
no-padding
{% endsetPageVar %}

<div class="hero">
     <div class="hero-background"></div>
     <div class="hero-foreground">
          <div class="hero-content">
               <div class="hero-copy">
                    <div class="placeholder">Miniblog Demo</div>
               </div> 
          </div>
     </div>
</div>